body{
    background: lightgray;
    margin: 0;
}
header{
    background: white;
    padding: 10px;
}
header h1{
    margin: 0;
}
.post{
    background: white;
    margin-top: 10px;
    width: 600px;
}
img{
    width: 100%;
}
.post h2, div.post p{
    padding: 10px;
    width: auto;
    margin: 0;
}
.container{
    width: 600px;
    height: 425px;
    margin: auto;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-width: 10px;
 }
 .container-1{
    width: 600px;
    margin: auto;
    flex-direction: column;
    align-items: center;
 }
span{
    padding-top: 15px;
    padding-right: 5px;
}
p {
    padding: 5px;
}
div.post {
    display: flex;
    justify-content: space-between;
}